<main>
  <header class="container">
    <app-cart-header [totalItems]="totalItems"></app-cart-header>
  </header>

  <section class="container">
    <app-cart-product-list [products]="products" (onDeleteProduct)="handleDeleteProduct($event)" (onChangeQuantity)="handleChangeQuantity()"></app-cart-product-list>
  </section>

  <section class="container">
    <app-cart-promo (onChangePromoCode)="handlePromoCode($event)"></app-cart-promo>

    <app-cart-summary [subtotal]="subtotal" [tax]="tax" [total]="total" [discount]="discount"></app-cart-summary>
  </section>
</main>
